<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Dashboard <small>Projetos Ativos</small>
			</h1>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Filtrar Projetos" ng-model="searchText"> 
				<span class="input-group-addon glyphicon glyphicon-search" aria-hidden="true" style="position: static;"></span>
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-lg-3 col-md-6" ng-repeat="projeto in projetos | filter:searchText">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-support fa-5x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge" style="white-space: nowrap;">{{projeto.nome}}</div>
						</div>
					</div>
				</div>
				<a href="#/projetos/{{projeto.id}}">
					<div class="panel-footer">
						<span class="pull-left">Ver Detalhes</span> 
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>